venv
.git
db.sqlite3
.idea
.vscode/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
Makefile
/node_modules
/.pnp
.pnp.js
node_modules
**/node_modules
*/node_modules
node_modules/
media/
.media
/site
wheels/
pip-wheel-metadata/
share/python-wheels/
build/
build
/build
**/build
.cache
npm-debug.log
**/npm-debug.log
**/.editorconfig
**/.aws
**/dist
.npmrc